body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.gif-container img {
  cursor: pointer;
  max-width: 80%;
}
